:root {
  font-family: "Red Hat Display", sans-serif;
  font-weight: normal;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.box {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #191c2b;
  color: #acb2c6;
}

img,
svg {
  max-width: 100%;
  display: block;
}

.icon {
  width: 20px;
  height: 20px;
}

/* NAVIGATION */

/* #logo {
  width: 50px;
  height: 50px;
} */

.navigation {
  display: flex;
  background-color: #0a1323;
  padding: 15px 40px 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-links a {
  margin-right: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 500;
  color: #acb2c6;
}
.nav-links a:hover {
  border-bottom: 5px solid #59ffd1;
  transition: 0.2s ease-in-out;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 1000px;
  padding: 0 150px;
  margin: 0 auto;
}

.intro {
  font-size: clamp(20px, 2vw, 80px);
}

.intro h1 {
  color: #c1cbf4;
  font-weight: 700;
}

/* MAIN CONTENT */
.page-content {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 150px;
}

/* CONTACTS check the margins*/

.contacts {
  display: flex;
  position: fixed;
  bottom: 0px;
  right: auto;
  left: 40px;
  z-index: 10;
}

.contacts-social::after,
.contacts-email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #59ffd1;
}

.contacts-social,
.contacts-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.contacts-social a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.contacts-social li a svg {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.contacts-social li a svg:hover,
.contacts-email a:hover {
  stroke: #c1cbf4;
  color: #c1cbf4;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* .contacts-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
} */

.contacts-email a {
  text-decoration: none;
  color: #59ffd1;
  padding: 0px;
  margin: 10px auto;
  writing-mode: vertical-lr;
  letter-spacing: 0.1em;
  position: relative;
}
