:root {
  font-family: "Red Hat Display", sans-serif;
  font-weight: normal;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.box {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #191c2b;
  color: #acb2c6;
}

/* NAVIGATION */

#logo {
  width: 50px;
  height: 50px;
}

.navigation {
  display: flex;
  background-color: #0a1323;
  padding: 15px 40px 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-links a {
  margin-right: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 500;
  color: #acb2c6;
}
.nav-links a:hover {
    border-bottom: 5px solid #59fdd1;
    transition: 0.2s ease-in-out;
}

.page-header h1 {
  color: #c1cbf4;
  font-weight: 800;
}
