:root {
  font-family: "Red Hat Display", sans-serif;
  font-weight: normal;
  /* font-size: calc(15px + .390625vw); */
  font-size: 62.5%;
  --font-size-sm: clamp(1.28rem, 0.17vw + 1.21rem, 1.43rem);
  --font-size-base: clamp(1.6rem, 0.34vw + 1.46rem, 1.9rem);
  --font-size-md: clamp(2rem, 0.61vw + 1.76rem, 2.53rem);
  --font-size-lg: clamp(2.5rem, 1vw + 2.1rem, 3.38rem);
  --font-size-xl: clamp(3.13rem, 1.56vw + 2.5rem, 4.5rem);
  --font-size-xxl: clamp(3.91rem, 2.38vw + 2.96rem, 6rem);
  --font-size-xxxl: clamp(4.88rem, 3.54vw + 3.47rem, 8rem);
  --green: #59ffd1;
  --blue: #0d1931;
  /* --grey: #acb2c6; */
  --grey: #8892b0;
  --light-purple: #c1cbf4;
  --border-radius: 5px;
  --nav-heigth: 80px;
}

.box {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--blue);
  color: var(--grey);
  font-size: var(--font-size-base);
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  max-width: 100%;
  display: block;
}

.icon {
  width: auto;
  height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 700;
  line-height: 1.1;
}
p {
  margin: 0px 0px 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

ul {
  list-style-type: none;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.section-title {
  display: flex;
  color: var(--light-purple);
  font-weight: 700;
  margin: 0px 0px 40px;
}

.section-title::after {
  position: relative;
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  margin: auto 0px;
  margin-left: 10px;
  background-color: var(--green);
}

/* #page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* HEADER - NAVIGATION */

/* #logo {
  width: 50px;
  height: 50px;
} */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: calc(100% - 100px);
  height: var(--nav-heigth);
  background-color: var(--blue);
  padding: 0px 70px 0px 50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 10;
}

.nav-links {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.nav-links a {
  margin: 0px 20px;
  position: relative;
  font-weight: 400;
  font-size: var(--font-size-sm);
  color: var(--light-purple);
}

.nav-links a:hover {
  border-bottom: 5px solid var(--green);
  transition: 0.2s ease-in-out;
}

/* MAIN CONTENT */
.page-content {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 150px;
}

/* intro section */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
  /* margin-bottom: 100px; */
}

.main-heading {
  margin: 0px 0px 20px;
  font-size: var(--font-size-xxl);
}

.intro h1 {
  margin: 0px 0px 30px 4px;
  color: var(--green);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
  font-stretch: ultra-expanded;
}

.intro h2 {
  color: var(--light-purple);
}

.intro h3 {
  margin-top: 5px;
  line-height: 0.9;
}

.intro p {
  margin: 20px 0px 0px;
  max-width: 540px;
}

.intro a {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--font-size-base);
  line-height: 1;
  margin: 50px 0px;
}

.intro a:hover {
  color: var(--blue);
  background-color: var(--green);
  transition: 0.1s ease-in-out;
}

/* about section  */

/* .about {
  max-width: 900px;
} */

/* .section-paragraph {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */
.section-paragraph {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 60px;
}

.about-img {
  /* filter: grayscale(80%); */
  border-radius: var(--border-radius);
  justify-self: baseline;
  width: 50%;
  height: auto;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 0px;
}

.skill-item {
  color: var(--green);
  background-color: rgb(80, 255, 199, 0.1);
  /* background-color: transparent; */
  /* border: 1px solid var(--green); */
  border-radius: 10px;
  padding: 0.7rem;
  margin: 5px auto;
  font-size: var(--font-size-sm);
}

/* education - section  */
.education{
    max-width: 700px;
}

.section-tab-panel{
    display: flex;
    column-gap: 30px;
}

.school-list {
  display: flex;
  /* flex: 1 1 30%; */
  flex-basis: 30%;
  flex-direction: column;
  width: max-content;
  padding: 0px;
  margin: 0px;
}

.list-item {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin: 0px;
  border: none;
  border-left: 2px solid var(--grey);
  background-color: transparent;
  color: var(--green);
  font-size: var(--font-size-sm);
  margin-bottom: 10px;
}

.list-item:hover{
    border-left-color: var(--green);
    background-color: rgb(80, 255, 199, 0.1);
}

.panels {
    display: flex;
    /* flex: 1 1 70%; */
    flex-basis: 70%;
    flex-direction: column;
    
}

/* CONTACTS check the margins*/

.contacts {
  display: flex;
  position: fixed;
  bottom: 0px;
  right: auto;
  left: 40px;
  z-index: 10;
}

.contacts-social::after,
.contacts-email::after {
  content: "";
  display: block;
  width: 1px;
  height: 80px;
  margin: 0px auto;
  background-color: var(--light-purple);
}

.contacts-social,
.contacts-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  margin: 0px 5px 0px;
  padding: 0px;
  visibility: visible;
}

.contacts-social a {
  display: inline-block;
  position: relative;
}

.contacts-social li a svg {
  margin-bottom: 10px;
  stroke: var(--light-purple);
}

/* .contacts-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
} */

.contacts-email a {
  color: var(--light-purple);
  padding: 0px;
  margin: 10px auto;
  font-size: var(--font-size-sm);
  writing-mode: vertical-lr;
  letter-spacing: 0.2em;
  position: relative;
}

.contacts-social li a svg:hover,
.contacts-email a:hover {
  stroke: var(--green);
  color: var(--green);
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* FOOTER  */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  min-height: 70px;
  padding: 25px;
  font-size: var(--font-size-sm);
}

.footer a div {
  margin-top: 5px;
  font-stretch: extra-expanded;
}

.contacts-shrinked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  visibility: hidden;
}

.contacts-shrinked svg {
  stroke: var(--light-purple);
  height: 24px;
  width: auto;
  margin: auto 10px;
}

.contacts-shrinked svg:hover {
  stroke: var(--green);
  color: var(--green);
  transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
